* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-bg-container {
  margin: 1rem;
  height: 300px;
  width: auto;
}
.main-bg {
  background: url(/climbing-main.jpg) left / cover no-repeat;
  width: 100%;
  height: 100%;
}
.product-img {
  width: min(300px, 30vw);
  border: 1px solid lightgrey;
}
.prdt-container {
  margin-inline: auto;
  width: min(1280px, 100%);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.md-box {
  margin-inline: auto;
  padding-left: 1rem;
  width: min(1280px, 100%);
}
h4 {
  text-align: center;
}
