div {
  box-sizing: border-box;
  .black-nav {
    background-color: #353535;
    width: 100%;
    display: flex;
    color: white;
    padding: 20px;
  }
  .list {
    padding-left: 20px;
    text-align: left;
    border-bottom: 1px solid grey;
  }
}
